body 
{
    position: relative;
    text-align: center;
}

.contenedor_botones
{
    background-color: #73222b;
    width: 100%;
    padding: 35px;

}
.contenedor_sectores
{
    background-color: blue;
    width: 100%;
    padding: auto;
}
.letras
{
    position: absolute;
    font-size: 90px;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "fuentetitulo",sans-serif;
}
.imagen_principal 
{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0px; /* Agrega espacio debajo de la imagen */ 
}
.boton
{
    display: flex;
}
@font-face
{
    font-family: "fuentetitulo";
    src: url("fuentes\NowAlt-Regular.otf")format("truetype");
}
