body 
{
    position: relative;
    text-align: center;
}
.contenedor
{
    position: absolute;
    display: block;
}
.letras
{
    position: absolute;
    font-size: 90px;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.imagen_principal 
{
    width: 100%;
    height: auto;
    display: block;
}